<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<p>Todos los derechos reservados Refri-Tec de Tijuana</p>
		</div>	
		<div class="col-xs-12 col-sm-4">
			<p>Un proyecto de: <a href="http://somospool.com/" target="_blank" title="Visita POOL Branding">POOL</a>  Código por: <a  href="https://www.garitacenter.com/" target="_blank" title="Reporte de Garitas Tijuana|Mexicali">MINT</a></p>
		</div>	
		<div class="col-xs-12 col-sm-4">
			<span id="footer-icon"></span>
		</div>	
	</div>	
</div>	
