<div class="navbar">
    <div id="main_nav" class="navbar-inner">
        <div class="container">
            <a id="brand" class="icon" href="" data-ui-sref="app.home" title="Regresar a inicio">Logo</a>
            <div class="navbar-header">
                <button type="button" id="responsive_btn" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Navegación de interruptor</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon close"></span>
                </button>
            </div>
            <!-- / .nav-header -->
            <div class="collapse navbar-collapse navHeaderCollapse hidden-xs">
                <ul id="main_menu" class="nav navbar-nav navbar-right">
                    <li class="soluciones">
                        <a href="" title="soluciones" data-ui-sref="app.solutions" data-ui-sref-active="active">
                        	Soluciones
                        </a>
                    </li>
                    <li class="productos">
                        <a href="" title="productos" data-ui-sref="app.products" data-ui-sref-active="active">
                        	Productos
                        </a>
                    </li>
                    <li class="distribucion" data-ui-sref="app.distibution" data-ui-sref-active="active">
                        <a href="" title="distribucion">
                        	Distribucion
                        </a>
                    </li>
                    <li class="nosotros">
                        <a href="" title="nosotros" data-ui-sref="app.aboutus" data-ui-sref-active="active">
                        	Nosotros
                        </a>
                    </li>
                    <li class="contacto">
                        <a href="" title="contacto" data-ui-sref="app.contact" data-ui-sref-active="active">
                        	Contacto
                        </a>
                    </li>
                </ul>
            </div>
            <!-- / .navHeaderCollapse -->
        </div>
        <!-- / .container -->
    </div>
    <!-- / #main_nav -->
</div>
<!-- / .navbar -->
