<section id="nosotros" class="light-gray text-img-content right">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="wrap">
					<h2 class="small">Nosotros</h2>
					<h3>30 años de <br /> experiencia</h3>
					<p>Refritec es una compañía con más de 30 años de experiencia en el rubro de instalación, servicio y reparación de sistemas de refrigeración en Baja California; la cual nace dando mantenimiento  a pequeños locales comerciales  y –a partir de la calidad y excelencia en el servicio – se ha afianzado como uno de los proveedores tanto de partes como de servicio más importantes en la región, en los sectores industrial, comercial, hospitalario y residencial.  </p>
				</div>	
			</div>	
			<div class="col-xs-12 col-sm-6">

			</div>	
		</div>	
	</div>
	<div id="aboutUsSlider">
		<carousel interval="5000">
	        <slide id="aboutUsSlider-building" class="item active">
	        
	        </slide>
	        <slide id="aboutUsSlider-interior" class="item">
	        
	        </slide>
	    </carousel> 
	</div>
	
</section>	