<!-- ************ BANNER PRINCIPAL INICIO 3 Versiones ********** -->
<div id="home_banner">
    <carousel interval="5000">
        <slide id="slide-residential" class="item active layout-left">
            <div class="wrapp">
                <div>
                    <h3 class="main_title">Expertos <br /> en control de clima</h3>
                    <p>Ofrecemos soluciones en refrigeración y calefacción para su hogar.</p>
                    <a href="" title="Contáctanos" class="button light" data-ui-sref="app.contact">Contáctanos</a>
                </div>
                <span class="decor"></span>
            </div><span class="height_control"></span>
        </slide>
        <slide id="slide-commercial" class="item layout-left">
            <div class="wrapp">
                <div>
                    <h3 class="main_title">Servicio <br /> cálido y profesional </h3>
                    <p>Contamos con servicio de instalación y mantenimiento de equipos de refigeración para comercios y negocios. </p>
                    <a href="" title="Contáctanos" class="button light" data-ui-sref="app.contact">Contáctanos</a>
                </div>
                <span class="decor"></span>
            </div><span class="height_control"></span>
        </slide>
        <slide id="slide-industrial" class="item layout-left">
            <div class="wrapp">
                <div>
                    <h3 class="main_title">Soluciones <br />para la industria</h3>
                    <p>Ofrecemos soluciones de refrigeración especializadas para la industria.</p>
                    <a href="" title="Contáctanos" class="button light" data-ui-sref="app.contact">Contáctanos </a>
                </div>
                <span class="decor"></span>
            </div><span class="height_control"></span>
        </slide>
    </carousel>
</div>
<!-- #home_banner /.carousel -->
<!-- ************ BANNER PRINCIPAL INICIO 3 Versiones - Fin ***** -->
<!-- ************ CONTENIDO CON TRES COLUMNAS  ***** -->

<section id="productos-servicios" class="blue" autoscroll='true'>
    <div class="container three_column_content">
        <h2 class="hidden">Productos y servicios</h2>
        <div class="row ">
            <div class="col-xs-12 col-sm-4 first text-center">
                <div class="wrapp">
                    <h3><a href="" title="Instalación" data-ui-sref="app.solutions.installation">Instalación</span>
									</a>
								</h3>
                    <p>Aire acondicionado, ductos, refrigeraciones, unidades condensadoras y evaporadores así como cámaras de conservación. </p>
                    <a href="" title="Ver más" class="button" data-ui-sref="app.solutions.installation">Ver más </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
                <div class="wrapp">
                    <h3><a href="" title="Mantenimiento" data-ui-sref="app.solutions.maintenance">
									Mantenimiento
									</a>
								</h3>
                    <p>Para evitar el mal funcionamiento en los sistemas de refrigeración es recomendable realizar revisiones periódicas a partir de su instalación</p>
                    <a href="" title="Ver más" class="button" data-ui-sref="app.solutions.maintenance">Ver más</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-center last">
                <div class="wrapp">
                    <h3><a href="" title="Productos" data-ui-sref="app.products">
									Productos
									</a>
								</h3>
                    <p>En Refritec contamos con una amplia gama de productos innovadores, confiables y garantizados.</p>
                    <a href="" title="Ver más" class="button" data-ui-sref="app.products">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ************ CONTENIDO CON IMAGENES EN TRES COLUMNAS  - Fin **** -->
