{% load staticfiles %}
<section id="productos">
	<div class="container">
		<h3 class="small">Distribución</h3>
		<h2>Productos</h2>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<p>En Refritec contamos con una amplia gama de productos innovadores, confiables y garantizados que son piezas elementales para el buen funcionamiento de su sistema de refrigeración.</p>
			</div>	
			<div class="col-xs-12 col-sm-6 text-right">
				<a href="" title="Contáctanos y solicita una cotización" class="button inline" data-ui-sref="app.contact">Solicita una cotización</a>
			</div>	
		</div>	
		<div id="catalogo" class="text-center">
			<div class="row">
				<div class="col-xs-6 col-sm-3">
					<span class="img"><img src="{% static 'img/products/minisplits.jpg' %}" alt="MiniSplits" /></span>
					<h3>MiniSplits</h3>
					<p>Equipos de Aire-Acondicionado MIRAGE-CARRIER</p>
				</div>
				<div class="col-xs-6 col-sm-3">
					<span class="img"><img src="{% static 'img/products/chillers.jpg' %}" alt="Chillers" /></span>
					<h3>Chillers</h3>
					<p>Enfriadores SCHREIBER ENGINEERING</p>
				</div>
				<div class="col-xs-6 col-sm-3">
					<span class="img"><img src="{% static 'img/products/refrigeracion.jpg' %}" alt="Refrigeración" /></span>
					<h3>Refrigeración</h3>
					<p>Equipos de Refrigeración KRAMER - KRACK</p>
				</div>
				<div class="col-xs-6 col-sm-3">
					<span class="img"><img src="{% static 'img/products/filtros.jpg' %}" alt="Filtros Plisados" /></span>
					<h3>Filtros Plisados</h3>
					<p>AEROSTAR</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-3">
					<span class="img"><img src="{% static 'img/products/motores.jpg' %}" alt="Motores Eléctricos" /></span>
					<h3>Motores Eléctricos</h3>
					<p>FASCO</p>
				</div>
				<div class="col-xs-6 col-sm-3">
					<span class="img"><img src="{% static 'img/products/puertas.jpg' %}" alt="Puertas de Congelación" /></span>
					<h3>Puertas de Congelación</h3>
					<p>Puertas para camaras de congelación y/o conservación 
R PLUS - IMPERIAL - PRO-LINE</p>
				</div>
				<div class="col-xs-6 col-sm-3">
					<span class="img"><img src="{% static 'img/products/valvulas.jpg' %}" alt="Válvulas de expansión" /></span>
					<h3>Válvulas de expansión</h3>
					<p>SPORLAN - ALCO</p>
				</div>
				<div class="col-xs-6 col-sm-3">
					<span class="img"><img src="{% static 'img/products/refacciones.jpg' %}" alt="Refacciones" /></span>
					<h3>Refacciones</h3>
					<p>Contamos con todo tipo de refacciones de las marcas MIRAGE- CARRIER Y THERMAL CARE</p>
				</div>
			</div>
		</div>	
		
	</div>
</section>
<section id="proveedores">
	<div class="container">
		<h2 class="hidden">Nuestros proveedores</h2>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<p id="big-supplier-phrase">Distribuimos marcas que son sinónimo de garantía.</p>
			</div>
			<div class="col-xs-12 col-sm-6">
				<p>En Refritec de Tijuana nos enorgullecemos de trabajar con marcas de calidad las cuales son sinónimo de garantía y   durabilidad.  Algunas de las marcas que nos respaldan para la distribución e instalación de sus productos son:</p>
			</div>	
		</div>
		<ul id="supplier-list">
			<li id="supplier-mirage"> Mirage</li><li id="supplier-carrier">
			Carrier</li><li id="supplier-kramer">
			Kramer</li><li id="supplier-sporlan">
			Sporlan</li><li id="supplier-thermal">
			Thermal Care</li>
		</ul>
	</div>	
</section>	