<!-- ************ FRASE PRIORIDAD **** -->
			<section id="priority-phrase">
				<div class="wrap">
					<p>Nuestra prioridad es resolver su  necesidad de refrigeración de forma <em>práctica, efectiva y con nuestra garantía </em> de servicio y funcionalidad</p>
				</div><span class="height_control"></span>	
			</section>

<!-- ************  FRASE PRIORIDAD  - Fin **** -->
	
<!-- ************ CONTENIDO 2 COLUMNAS ********** -->
			<section id="soluciones">
				<div id="instalacion" class="text-img-content right">
					<div class="container">
						<h2 class="small">Soluciones</h2>
						<div class="row">
							<div class="col-xs-12 col-sm-5 grl-text-content">	
								<div class="wrapper">
									<h3 class="big-title">Instalación</h3>
									<p>A partir de las indicaciones de nuestros clientes, nuestros asesores  llevarán a cabo un plan para elegir la marca, modelo y funciones del equipo ideal para su inmueble. Instalamos equipos de aire acondicionado, ductos, refrigeraciones, unidades condensadoras y evaporadores así como cámaras de conservación.  </p>
									<a href="" title="Contáctanos" class="button icon_holder" data-ui-sref="app.contact">Contáctanos</a>
								</div>	
							</div>
							<div class="col-xs-12 col-sm-6 col-sm-offset-1">
							
							</div>
						</div><!-- .row -->	
					</div>	
					<span id="solutions-instalation" class="img">
						<div class="wrapp">
							<div>
								
							</div>	
						</div><span class="height_control"></span>	
					</span>
				</div><!-- .text-img-content.right -->	
				<div id="mantenimiento" class="text-img-content">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-sm-offset-1 grl-img-content">
							</div>
							<div class="col-xs-12 col-sm-5 grl-text-content">	
								<div class="wrapper">
									<h3 class="big-title">Mantenimiento</h3>
									<p>Para evitar  el mal funcionamiento en los sistemas de refrigeración es recomendable  realizar revisiones periódicas  a partir de su instalación, con las que garantizamos una mejor funcionalidad del equipo y se prolongará el tiempo de vida del mismo. </p>

									<p>Ofrecemos el servicio de mantenimiento a instalaciones existentes, a partir de algún mal funcionamiento del aparato, detectamos las causas de la falla e implementamos un plan para darle  solución. </p>
									<a href="" title="Contáctanos" class="button icon_holder" data-ui-sref="app.contact">Contáctanos</a>
								</div>
							</div>
						</div><!-- .row -->
					</div>
					<span id="solutions-mantainance" class="img text-left grl-img">
						<div class="wrapp">
							<div>
								
							</div>
						</div><span class="height_control"></span>
					</span>
				</div><!-- .text-img-content -->
			</section>							
			
<!-- ************ CONTENIDO 2 COLUMNAS - Fin ***** -->	

<!-- ************ CONTENIDO CON TRES COLUMNAS  ***** -->
			<section id="tipo-clientes" class="gray">
				<div class="container three_column_content">
					<div class="row">
						<div class="col-xs-12 col-sm-4 text-center first">
							<div class="wrapp">
								<h3 id="client-residential">
									Residencial
								</h3>
								<p>Contamos con soluciones de Aire acondicionado y refirgeración para su hogar .</p>
							</div>
						</div>	
						<div class="col-xs-12 col-sm-4 text-center ">
							<div class="wrapp">
								<h3 id="client-commercial">
									Comercial
								</h3>
								<p>Podemos ayudarle con soluciones de refrigeración para su negocio u oficina. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 text-center last">
							<div class="wrapp">
								<h3 id="client-industrial">
									Industrial
								</h3>
								<p>Contamos con soluciones especializadas en refrigeración, cámaras de congelación y conservación para todo tipo de industria.</p>
							</div>
						</div>
					</div>	
				</div>
			</div>
			</section>	
			
<!-- ************ CONTENIDO CON IMAGENES EN TRES COLUMNAS  - Fin **** -->